:root {
  --font-color: #212121;
  --helper-color: #68adec;
  --receiver-color: #ffb067;
  --link-color: #f7af69;
  --req-color: #5CB85C;
  --decline-color: #D9534F;
  --hover-rating-color: #C0C0C0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.App {
  color: var(--font-color);
}

.App .text-box, #intro {
  text-align: center;
}

p a {
  color: var(--link-color);
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-style: normal;
  text-align: center;
  color: #06375b;
}

h1 {
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bolder;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
}

.text-box {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: left;
  padding: 20px;
}

header .menuIcon {
  width: 22px;
}

.separator {
  position: relative;
  width: 116px;
  border: 5px solid #06375b;
  margin: 30px 0;
  border-radius: 10px;
}

.btn {
  padding: 20px 22px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  border-radius: 10px;
}

.helper-btn,
.helper-btn:hover,
.helper-btn:focus,
.helper-btn:active {
  background-color: var(--helper-color);
  border: 0;
}

.receiver-btn,
.receiver-btn:hover,
.receiver-btn:focus,
.receiver-btn:active {
  background-color: var(--receiver-color);
  border: 0;
}

/* NAVIGATION */
#nav-wrapper {
  width: 100vw;
}

#nav-wrapper,
#logo {
  padding: 0px;
  z-index: 10;
}

#nav {
  flex-direction: row;
}

.nav-link {
  cursor: pointer;
  margin-right: 5px;
}

#responsive-navbar-nav {
  flex-direction: row-reverse;
}

#responsive-navbar-nav div {
  margin-right: 0px !important;
  display: flex;
}

/* HOME */
#home #claim {
  position: relative;
  background-color: rgba(241, 246, 250, 0.88);
}

#home #claim .claim-overlay {
  background-image: url("../img/people-volunteer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home #claim h1,
#home #claim p {
  margin: 30px 0;
}

#home #claim .btn {
  display: block;
  width: 100%;
}

#home-video {
  min-height: 250px;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-info {
  background: #f9fcff;
  text-align: center;
}

#home-info h1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#home-info .home-feature {
  margin: 30px 0;
}

#home-info .home-feature img {
  margin: 10px 0;
  height: 100px;
  width: auto;
}

/* REGISTRATION */

.checkbox-wrapper {
  padding: 15px 0px 15px 0px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.checkbox-wrapper input {
  position: relative;
  right: 0px;
}

#registration-finish {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#registration-finish img {
  margin-bottom: 25px;
}


/* PROGRESS */

.page-link {
  color: var(--receiver-color) !important;
  border: none !important;
  background-color: transparent !important;
  padding: 3px;
  font-size: 20px !important;
  cursor: default;
}

#page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-wrapper p {
  margin-right: 10px;
}


/* MAP */

.map-container {
  right: 0px;
  bottom: 0px;
  height: 62vh !important;
  overflow: hidden;
}

.map-pin li {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  padding: 10px;
  margin: 8px;
  border: 3px solid #06375b;
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.food {
  background-image: url("../img/shopping.png");
}

.medicine {

}

.home {

}

.volunteer {

}

.transport {

}

#pins-wrapper h3{
  text-align: left;
  margin-left: 15px;
}


/* ENTER */

#intro {
  padding: 20px 0;
}

#intro .hands {
  margin: 30px 0;
}

#intro .logo {
  max-width: 80%;
  margin-bottom: 40px;
}

#intro h3 {
  margin-bottom: 40px;
}

/* VOLUNTEER */

#volunteer-info .profile_info {
  margin: 30px 0;
}
#volunteer-info .profile_info img {
  margin: 10px 0;
  height: 100px;
  width: auto;
  border-radius:50%;
  border-style:solid;
  border-color:#68adef;

}

#communication .communication_info {
  margin: 30px 0;
}
#communication .communication_info img {
  display:block;
  margin-left: auto;
  margin-right:auto;
  height: 100px;
  width: auto;
}
#communication .communication_info p{
  text-align:center;
  margin:25px;
}
#req .req-actions .btn{
  display:block;
  width:100%;
}

.rating {
  font-size: 64px;
}

.rating > span:before {
  content: '☆';
  direction: rtl;
  unicode-bidi: bidi-override;
}

.rating > span.rating_selected:before {
  content: '★' !IMPORTANT;
}

.rating > span:hover:before,
.rating   span:hover~span:before {
  background-color: var(--hover-rating-color);
}

.req-btn,
.req-btn:hover,
.req-btn:focus,
.req-btn:active {
  background-color: var(--req-color);
  border: 0;
}

.decline-btn,
.decline-btn:hover,
.decline-btn:focus,
.decline-btn:active {
  background-color: var(--decline-color);
  border: 0;
}
.abc{
	position: absolute;
width: 259px;
height: 148px;
left: 0px;
top: 0px;

background: #68ADEC;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}
#xyz{
	position: absolute;
width: 76.85px;
height: 95.64px;
left: 96px;
top: 25px;
}
#profile{
	position: absolute;
width: 66px;
height: 47px;
left: 101px;
top: 120px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #FFFFFF;
}
.aa{
	position: absolute;
width: 259px;
height: 876px;
left: 0px;
top: 148px;

background: #FFFFFF;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
}

#chatid{
	position: absolute;
width: 30px;
height: 17.65px;
left: 41.4px;
top: 50px;

}
#chat{
	position: absolute;
width: 66px;
height: 32px;
left: 100px;
top: 50px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #292929;
}

.line{
	position: absolute;
width: 234px;
height: 0px;
left: 12px;
top: 100px;
border: 1px solid #C4C4C4;
}


#starid{
	position: absolute;
left: 10%;
right: 94.79%;
top: 15%;
bottom: 70.9%;

}
#ratealooper{
	position: absolute;
width: 128px;
height: 34px;
left: 93px;
top: 145px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #000000;
}
#vectorid{
	position: absolute;
left: 10%;
right: 8.33%;
top: 27%;
bottom: 12.5%;
}
#halloffame{
	position: absolute;
width: 96px;
height: 34px;
left: 93px;
top: 250px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #000000;
}
.line1{
	position: absolute;
width: 234px;
height: 0px;
left: 12px;
top: 200px;


border: 1px solid #C4C4C4;
}
.line2{
position: absolute;
width: 234px;
height: 0px;
left: 12px;
top: 300px;

border: 1px solid #C4C4C4;	
}
#logid{
	position: absolute;
left: 10%;
right: 0%;
top: 38%;
bottom: 16.67%;

}
#myhero{
	position: absolute;
width: 96px;
height: 34px;
left: 93px;
top: 340px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #000000;

}
.ab{
position: absolute;
width: 259px;
height: 91px;
left: 0px;
top: 520px;

background: #FFB067;
}
#recid{
	position: absolute;
width: 38px;
height: 39px;
left: 33px;
top: 547px;

background: #FFFFFF;
}
#mytask{
	position: absolute;
width: 96px;
height: 21px;
left: 93px;
top: 35px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #000000;
}
.ac{
	position: absolute;
width: 1300px;
height: 180px;
left: 260px;
top: 73px;

background: #FFEA7B;
}
.webmenu{
	position: absolute;
width: 259px;
height: 1024px;
left: 0px;
top: 0px;
}
#g{
	position: absolute;
width: 421.66px;
height: 27.3px;
left: 5px;
top: 81.93px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#h{
	position: absolute;
width: 421.66px;
height: 27.3px;
left: 250px;
top: 81.93px;
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#i{
	position: absolute;
width: 421.66px;
height: 21.36px;
left: 3px;
top: 120px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
#j{
	position: absolute;
width: 421.66px;
height: 31px;
left: 250px;
top: 120px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}
#k{
	position: absolute;
width: 421.66px;
height: 27.3px;
left: 550.45px;
top: 81.93px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#l{
	position: absolute;
width: 421.66px;
height: 19px;
left: 550px;
top: 120px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;

color: #000000;
}

.ad{
	position: absolute;
width: 1247px;
height: 833px;
left: 260px;
top: 250px;

background: #FFF9F4;
}

#pic1{
	position: absolute;
width: 87.98px;
height: 109.48px;
left: 50px;
top: 5px;
border: 3px solid #FFFFFF;
box-sizing: border-box;
}
#pic2{
	position: absolute;
width: 87.98px;
height: 109.48px;
left: 50px;
top: 140px;
}
#pic3{
	position: absolute;
width: 87.98px;
height: 109.48px;
left: 50px;
top: 275px;
}
#pic4{
	position: absolute;
width: 87.98px;
height: 109.48px;
left: 50px;
top: 410px;
}
#pic5{
	position: absolute;
width: 87.98px;
height: 109.48px;
left: 50px;
top: 545px;
}
#pic6{
	position: absolute;
width: 87.98px;
height: 109.48px;
left:50px;
top: 680px;
}
#pic7{
	position: absolute;
width: 87.98px;
height: 109.48px;
left: 50px;
top: 815px;
}
#r1{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top:50px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p1{
	position: absolute;
width: 98px;
height: 30px;
left: 400px;
top: 50px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#r2{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top: 180px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p2{
	position: absolute;
width: 158px;
height: 33px;
left: 365px;
top: 180px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#r3{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top: 315px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p3{
	position: absolute;
width: 98px;
height: 30px;
left: 400px;
top: 315px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#r4{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top: 450px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p4{
	position: absolute;
width: 98px;
height: 30px;
left: 400px;
top: 450px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#r5{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top: 580px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p5{
	position: absolute;
width: 98px;
height: 30px;
left: 400px;
top: 580px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#r6{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top: 720px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p6{
	position: absolute;
width: 98px;
height: 30px;
left: 400px;
top: 720px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#r7{
	position: absolute;
width: 158px;
height: 33px;
left: 150.58px;
top: 860px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#p7{
	position: absolute;
width: 98px;
height: 30px;
left: 400px;
top: 860px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;

color: #000000;
}
#pp1{
position: absolute;
left: 53.15%;
right: 20%;
top: 5.61%;
bottom: 24.24%;
}
#pp2{
position: absolute;
left: 57.15%;
right: 20%;
top: 5.61%;
bottom: 24.24%;
}
#pp3{
position: absolute;
left: 61.15%;
right: 20%;
top: 5.61%;
bottom: 24.24%;
}
#pp4{
position: absolute;
left: 65.15%;
right: 20%;
top: 5.61%;
bottom: 24.24%;
}
#pp5{
position: absolute;
left: 69.15%;
right: 20%;
top: 5.61%;
bottom: 24.24%;
}
#pp6{
position: absolute;
left: 53.15%;
right: 20%;
top: 20.61%;
bottom: 24.24%;
}
#pp7{
position: absolute;
left: 57.15%;
right: 20%;
top: 20.61%;
bottom: 24.24%;
}
#p8{
position: absolute;
left: 61.15%;
right: 20%;
top: 20.61%;
bottom: 24.24%;
}
#p9{
position: absolute;
left: 65.15%;
right: 20%;
top: 20.61%;
bottom: 24.24%;
}
#p10{
position: absolute;
left: 69.15%;
right: 20%;
top: 20.61%;
bottom: 24.24%;
}
#p11{
position: absolute;
left: 53.15%;
right: 20%;
top: 36.61%;
bottom: 24.24%;
}
#p12{
position: absolute;
left: 57.15%;
right: 20%;
top: 36.61%;
bottom: 24.24%;
}
#p13{
position: absolute;
left: 61.15%;
right: 20%;
top: 36.61%;
bottom: 24.24%;
}
#p14{
position: absolute;
left: 65.15%;
right: 20%;
top: 36.61%;
bottom: 24.24%;
}
#p15{
position: absolute;
left: 69.15%;
right: 20%;
top: 36.61%;
bottom: 24.24%;
}
#p16{
position: absolute;
left: 53.15%;
right: 20%;
top: 53.61%;
bottom: 24.24%;
}
#p17{
position: absolute;
left: 57.15%;
right: 20%;
top: 53.61%;
bottom: 24.24%;
}
#p18{
position: absolute;
left: 61.15%;
right: 20%;
top: 53.61%;
bottom: 24.24%;
}
#p19{
position: absolute;
left: 65.15%;
right: 20%;
top: 53.61%;
bottom: 24.24%;
}
#p20{
position: absolute;
left: 53.15%;
right: 20%;
top: 68.61%;
bottom: 24.24%;
}
#p21{
position: absolute;
left: 57.15%;
right: 20%;
top: 68.61%;
bottom: 24.24%;
}
#p22{
position: absolute;
left: 61.15%;
right: 20%;
top: 68.61%;
bottom: 24.24%;
}
#p23{
position: absolute;
left: 65.15%;
right: 20%;
top: 68.61%;
bottom: 24.24%;
}
#p24{
position: absolute;
left: 53.15%;
right: 20%;
top: 85.61%;
bottom: 24.24%;
}
#p25{
position: absolute;
left: 57.15%;
right: 20%;
top: 85.61%;
bottom: 24.24%;
}
#p26{
position: absolute;
left: 61.15%;
right: 20%;
top: 85.61%;
bottom: 24.24%;
}
#p27{
position: absolute;
left: 53.15%;
right: 20%;
top: 102.61%;
bottom: 24.24%;
}
#p28{
position: absolute;
left: 57.15%;
right: 20%;
top: 102.61%;
bottom: 24.24%;
}
#p29{
position: absolute;
left: 61.15%;
right: 20%;
top: 102.61%;
bottom: 24.24%;
}
#p30{
position: absolute;
left: 65.15%;
right: 20%;
top: 102.61%;
bottom: 24.24%;
}
#p31{
position: absolute;
left: 69.15%;
right: 20%;
top: 102.61%;
bottom: 24.24%;
}

.webapp{
	background: #E5E5E5;
}
#yellowid{
	position: absolute;
width: 420px;
height: 107px;
left: 0px;
top: 120px;
}
#menuid{
	position: absolute;
width: 30px;
height: 25px;
left: 20px;
top: 70px;
}
#app1{
position: absolute;
width: 146px;
height: 23px;
left: 2px;
top: 130px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
text-align: center;

color: #000000;

}
#app2{
	position: absolute;
width: 146px;
height: 23px;
left: 134px;
top: 130px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
text-align: center;

color: #000000;
}
#app3{
	position: absolute;
width: 146px;
height: 23px;
left: 270px;
top: 130px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 21px;
text-align: center;

color: #000000;
}
#app4{
	position: absolute;
width: 94px;
height: 18px;
left: 30px;
top: 175px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #000000;
}
#app5{
	position: absolute;
width: 94px;
height: 46px;
left: 175px;
top: 175px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;

color: #000000;
}
#app6{
	position: absolute;
width: 85px;
height: 16px;
left: 300px;
top: 175px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;

color: #000000;
}
#v1{
	position: absolute;
width: 40px;
height: 50.92px;
left: 30px;
top: 250.26px;
}
#v2{
position: absolute;
width: 40px;
height: 50.92px;
left: 30px;
top: 325.26px;
}
#v3{
	position: absolute;
width: 40px;
height: 50.92px;
left: 30px;
top: 400.26px;
}
#v4{
	position: absolute;
width: 40px;
height: 50.92px;
left: 30px;
top: 475.26px;
}
#v5{
	position: absolute;
width: 40px;
height: 50.92px;
left: 30px;
top: 550.26px;
}
#a1{
position: absolute;
width: 50px;
height: 15px;
left: 80px;
top: 260px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a2{
position: absolute;
width: 30px;
height: 30px;
left: 220px;
top: 260px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a3{
position: absolute;
width: 50px;
height: 15px;
left: 80px;
top: 325px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a4{
	position: absolute;
width: 30px;
height: 30px;
left: 220px;
top: 325px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a5{
position: absolute;
width: 50px;
height: 15px;
left: 80px;
top: 400px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a6{
	position: absolute;
width: 30px;
height: 30px;
left: 220px;
top: 400px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a7{
position: absolute;
width: 50px;
height: 15px;
left: 80px;
top: 475px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a8{
	position: absolute;
width: 30px;
height: 30px;
left: 220px;
top: 475px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a9{
position: absolute;
width: 50px;
height: 15px;
left: 80px;
top: 550px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#a10{
	position: absolute;
width: 30px;
height: 30px;
left: 220px;
top: 550px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#h1{
position: absolute;
left: 23.56%;
right: 5.56%;
top: 40.91%;
bottom: 9.91%;
}
#h2{
position: absolute;
left: 23.56%;
right: 5.56%;
top: 51.91%;
bottom: 9.91%;
}
#h3{
position: absolute;
left: 23.56%;
right: 5.56%;
top: 63.91%;
bottom: 9.91%;
}
#h4{
position: absolute;
left: 23.56%;
right: 5.56%;
top: 75.91%;
bottom: 9.91%;
}
#h5{
position: absolute;
left: 23.56%;
right: 5.56%;
top: 87.91%;
bottom: 9.91%;
}
#h6{
position: absolute;
width: 39px;
height: 30px;
left: 323px;
top: 260px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#h7{
position: absolute;
width: 39px;
height: 30px;
left: 323px;
top: 327px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#h8{
position: absolute;
width: 39px;
height: 30px;
left: 323px;
top: 404px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#h9{
position: absolute;
width: 39px;
height: 30px;
left: 323px;
top: 477px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}
#h10{
position: absolute;
width: 39px;
height: 30px;
left: 323px;
top: 550px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #000000;
}